p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:0;
    margin-bottom:0;
}
.body{
    height:1000px;
    margin:0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(225, 224, 224);
}

