.side-bar{
    position: fixed;
    left:0;
    bottom: 0;
    top:55px;
    background-color: white;
    width:72px;
    z-index:200;
    padding-top: 5px;
    cursor: pointer;
}

.sidebar-link{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: white;
    height: 74px;
    
}
.sidebar-link:hover{
    background-color: rgb(235,235,235);
}
.sidebar-link img{
    height: 28px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

}